html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* NAVBAR PAGE */

nav{
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: steelblue;
    height: 80px;
    width: 100%;
}

nav label.logo{

    padding : 0 100px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    line-height: 80px;

}

nav ul{

    float: right;
    padding-right: 40px;

}

ul li.princp{

    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}

li a.principal{

    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 7px 10px;
    border: 1px solid transparent;
    border-radius: 5px;

}

a.principal.nav_active {

    border: 1px solid white;
    transition: 0.25s;

}

/*FIN NAVBAR PAGE*/







/*CAROUSEL PAGE*/


.slider{

    height: 100vh;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 2s;
}
  
.slide img{
    width: 100%;
    height: 500px;
}

  
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid steelblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
  
.manual-btn:not(:last-child){
    margin-right: 40px;
}
  
.manual-btn:hover{
    background: steelblue;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}

  
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}
  
.navigation-auto div{
    border: 2px solid steelblue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
  
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
  
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: steelblue;
}
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: steelblue;
}
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: steelblue;
}
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: steelblue;
}


/*FIN CAROUSEL PAGE*/




/*ABOUT ME PAGE*/


#section_aboutme{
    padding-top: 2.5rem;
}

.contenedor_a{
    margin-top: 70px;
}


.encabezado{
    margin-bottom: 70px;
    width: 70%;
    margin: 5rem auto;
    text-align: center;
}

.encabezado h1{

    font-size: 60px;
    font-weight: bold;
    color: black;
    text-shadow: 10px 10px 10px steelblue;

}


.foto_a{

    display: flex;
    justify-content: space-around;
    
}

.foto_a img{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 300px;
}


.contenedor_a p{

    margin: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 1px solid black;
    background: rgb(161, 200, 233);
}


/*FIN ABOUT ME PAGE*/